footer {
    background-color: $primary-color;
    margin-top: 100px;
    height: 0;
}

footer p {
    font-size: 20px;
    color: $primary-text-color;
    font-family: "Montserrat";
    text-align: center;
}